*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

:root{
    --color-blue: rgb(86, 21, 237);
    --color-blue-h: rgb(67, 88, 156);
    --color-dark-blue: rgb(27, 24, 49);
}
header{
    position: fixed;
    width: 100%;
    height: 5rem;
    padding: 0 11px;
    z-index: 10;
}
.header-container{
    max-width: 1200px;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.log a{
    font-size: 1.8rem;
    font-weight: 600;
    color: var(--color-blue);
    text-decoration: none;
}
.menu-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu-item{
    display: block;
    padding: 3px 0;
    margin: 0 8px;
    list-style: none;
    border-bottom: 2px solid transparent;
    transition: all .4s;
}
.menu-item:hover{
    border-bottom: 2px solid var(--color-blue);
}
.menu-item a{
    text-decoration: none;
    color: var(--color-azul);
    font-size: 18px;
}
.a-item{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 18px;
    margin-left: .5rem;
    padding: 1rem 2.8rem;
    text-decoration: none;
    color: #161515;
    border-radius: 30px;
    background-color: #fff;
    transition: background-color .4s;    
}
.a-item:hover{
    background-color: var(--color-blue-h);
}
main{
    width: 100%;
}
.main{
    position: relative;
    height: 100vh;
    max-width: 100%;
    width: 100%;
    margin: auto;
}
.main::before{
    content: '';
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 64%);
    background-color: var(--color-dark-blue);
}
.main-container{
    width: 1200px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 10;
}
.main-container-item img{
    width: 550px;
}